<h1>Login</h1>
<form id="loginForm" method="POST" class="formulario">
  <div class="form-grid">
    <div class="form-group">
      <label for="mail">Correo electrónico:</label>
      <input type="text" id="mail" name="mail" required>
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group full-width">
      <button type="submit">Iniciar sesión</button>
    </div>
    <a href="/auth/forgot-password">¿Olvidaste tu contraseña?</a> 
    <!-- TODO hacer sistema de olvido de contraseña -->
  </div>
  </form>