<header>
  <div class="left">
    <h1 class="title"><a class="title" href="/">Si.Ge.Re</a></h1>
    <p class="subtitle">Sistema de Gesti贸n de Resoluciones</p>
  </div>
  <div class="right">
    <nav>
      <ul>
        <% if (user) { %>
          <li><a href="/resoluciones/lista-resoluciones">Resoluciones</a></li>
          <li><a href="/resoluciones/form-resolucion">Nueva resoluci贸n</a></li>
          <li><a href="/auth/logout">Cerrar sesi贸n</a></li>
          <li><span> <%= user.nombre %></span></li>
          <% } else { %>
            <li><a href="/auth/login">Iniciar sesi贸n</a></li>
            <li><a href="/auth/register">Registrarse</a></li>
            <% } %>
      </ul>
    </nav>
  </div>
</header>