<!DOCTYPE html>
<html lang="es">
  <head>
    
    <%- include('../partials/head', { cssFile }) %>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <%- body %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>

