body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  margin: 0.3rem;
}

h1 {
  text-align: center;
  margin: 2rem 1rem 2rem;
}

.formulario {
  max-width: 900px;
  margin: auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}


/* .form-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

.full-width {
  grid-column: 1 / -1;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.actions button,
.actions a.boton {
  padding: 10px 20px;
  margin: 5px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.actions button:hover,
.actions a.boton:hover {
  background-color: #1565c0;
}

button:disabled {
  background-color: #ccc !important; /* gris más oscuro */
  color: #666 !important;            /* texto más tenue */
  border: 1px solid #999 !important;
  cursor: not-allowed !important;
  opacity: 1 !important; /* elimina el efecto de opacidad por defecto si te molesta */
}

.imprimir-btn {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* input:focus {
  border-color: #007bff;
  background-color: #fff;
  outline: none;
} */

input:read-only, 
textarea:read-only {
  background-color: #f8f9fa;
}

input:read-only:focus, 
textarea:read-only:focus {
  background-color: #f8f9fa;
  outline: none;
  border-color: #ccc;
}


