<h1>Primer ingreso</h1>
<form id="firstLoginForm" method="POST" class="formulario" action="/auth/firstLogin">
  <div class="form-grid">
    <div class="form-group">
        <label for="mail">Correo electrónico:</label>
        <input type="text" id="mail" name="mail" required>
    </div>
    
    <div class="form-group">

      <label for="temporal_password">Contraseña recibida por correo:</label>
      <input type="password" id="temporal_password" name="temporal_password" required>
    </div>

    <div class="form-group full-width">
      <button type="submit">Ingresar</button>
    </div>
  </div>